/**
 * @file
 * Styling for the multistep blocks
 */

.multistepper
  {
    text-align: center;
  }

.item-list .multistepper li
  {
    list-style: none;
    background: transparent;
    display: inline-block;
    font-size: 2em;
  }
